*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
	list-style: none;
	text-decoration: none;
	font-family: 'Josefin Sans', sans-serif;
}
.navbar{
	width: 100%;
	height: 65px;
	display: flex;
	justify-content: space-around;
	align-content: center;
	position: absolute;
}
.logo a{
    font-family: 'Allura', cursive;
    font-size: 35px;
    color: #fb2274;
    
    }
    
    .navbar .navbar-item ul{
        display: flex;
    }
    .navbar .navbar-item ul li{
        text-transform: uppercase;
        margin: 0 10px;
    }
    .navbar .navbar-item ul li a{
        color: black
    
    }
    